!!!
%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %title Agenda
        = csrf_meta_tags
        = csp_meta_tag
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %body
        %nav.navbar.navbar-default.container-fluid
            .collapse.navbar-collapse
                .navbar.navbar-nav.navbar-right
                    .btn= link_to t(:list), atividades_path
                    .btn= link_to t(:new), new_atividade_path
        = yield